@import '~normalize.css/normalize';
@import '~modularscale-sass/stylesheets/modularscale';
@import '~flexboxgrid/dist/flexboxgrid';
@import 'colors';
@import 'shadows';
@import 'variables';
@import 'components/buttons';
@import 'components/dropdown';
@import 'components/container';
@import 'components/modal';
@import 'components/topbar';
@import 'components/tabs';
@import 'components/notification';
@import 'components/board';
@import 'components/operation';

*,
input {
  box-sizing: border-box;
}

html,
body,
#root,
*[role="group"],
.panel {
  height: 100%;
}

html {
  font-size: ms(0);
  background-color: $light-bg;
}

body {
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4,h5, h6 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: ms(6);
  line-height: $base-line-height * 3;
}

h2 {
  font-size: ms(5);
  line-height: $base-line-height * 3;
}

h3,
.h3 {
  font-size: ms(4);
  line-height: $base-line-height * 2;
}

h4,
.h4 {
  font-size: ms(3);
  line-height: $base-line-height * 2;
}

h5,
.h5 {
  font-size: ms(2);
  line-height: $base-line-height;
}

h6,
.h6 {
  font-size: ms(1);
  line-height: $base-line-height;
}

button {
  &:not(:disabled) {
    cursor: pointer;
  }

  outline: none;
}

.text-secondary {
  color: $secondary-font-color;
}

.text-danger {
  color: $danger;
}

.text-warning {
  color: $warning;
}

.text-regular {
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.panel {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.content:not(.content--no-spacing) {
  padding: $base-line-height*0.75 0;
}

.card {
  @include box_shadow(1);
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  border-radius: $border-radius;
  background-color: $white;

  &--icon {
    display: flex;
    align-items: center;

    .card__icon {
      margin-right: 1rem;
    }
  }
}

.card + .card {
  margin-top: 4px
}

.card__icon {
  font-size: ms(1);
  width: 2 * $base-line-height;
  height: 2 * $base-line-height;
  line-height: 2 * $base-line-height;
  text-align: center;
  background-color: $teal-50;
  color: $teal-300;
  border-radius: 99999px;
}

.chart {
  height: 100%;

  &--pie {
    position: relative;

    .chart__center {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.chart__title {
  font-size: ms(8);
  color: $success;
  line-height: $base-line-height * 3;
  font-weight: 700;
  margin-bottom: $base-line-height * 0.25;
}

.chart__subtitle {
  font-size: ms(2);
  line-height: $base-line-height * 1;
  color: $secondary-font-color;
}

.form {
  text-align: left;

  label {
    font-weight: 500;
    font-size: ms(0);
    line-height: $base-line-height;
    margin-bottom: 0.25rem;
    display: block;
  }

  &--dark {
    label {
      color: $blue-grey-100;
    }

    input.form__field,
    input.form__field:-webkit-autofill {
      background-color: $blue-grey-700;
      border-color: $blue-grey-700;
      box-shadow: 0 0 0px 1000px $blue-grey-700 inset;
      color: $white;
      -webkit-text-fill-color: $white;
      caret-color: $white;
    }
  }
}

.form__group {
  margin-bottom: 1rem;
}

input.form__field,
.form__field--select select {
  display: block;
  width: 100%;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: $border-radius;
  border: 2px solid $blue-grey-C200;
  background: $blue-grey-C200;
  outline: 0;
  color: $blue-grey-700;
  transition: border 0.15s ease-in;

  &:active,
  &:focus {
    border-color: $blue-200;
  }
}

input[type="date"].form__field {
  -webkit-appearance: listbox;
  line-height: calc(#{$base-line-height * 2} - 4px);
}

.form__field--select {
  position: relative;

  &:after {
    content: '';
    display: block;
    border: #{$base-line-height/4} solid transparent;
    border-top-color: black;
    position: absolute;
    line-height: $base-line-height * 2;
    top:50%;
    margin-top:-2px;
    right: 1rem;
  }

  select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.form__actions {
  margin-top: $base-line-height;
}

.auth {
  background-color: $dark-bg;
  height: 100%;
}

.auth .form {
  margin-top: $base-line-height * 3;
}

.auth__errors {
  padding: #{0.5 * $base-line-height} 0;
}

.spinner {
  width: 4rem;
  height: 4rem;
  
  text-align: center;

  &:after {
    content: "";
    margin: -4px auto;
    display: block;
    width: 3rem;
    height: 1rem;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.05);
    animation-duration: 1s;
    animation-name: spinner-shadow;
    animation-iteration-count: infinite;
  }

  img {
    height: 100%;
    animation-duration: 1s;
    animation-name: spinner;
    animation-iteration-count: infinite;
  }
}

@keyframes spinner {
  from {
    transform: translateY(0); 
  }

  50% {
    transform: translateY(-1.75rem); 
  }

  to {
    transform: translateY(0); 
  }
}

@keyframes spinner-shadow {
  from {
    transform: scale(1); 
  }

  50% {
    transform: scale(0.75); 
  }

  to {
    transform: scale(1); 
  }
}

.loading {
  width: 100%;
  height: 100%;
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7FAFC;
}