@import '~normalize.css/normalize';
@import '~modularscale-sass/stylesheets/modularscale';
@import '~flexboxgrid/dist/flexboxgrid';
@import 'colors';
@import 'shadows';
@import 'variables';
@import 'components/operation';

*,
input {
  box-sizing: border-box;
}

html,
body,
#root,
.container,
*[role="group"],
.panel {
  height: 100%;
}

html {
  font-size: ms(0);
  background-color: $light-bg;
}

body {
  line-height: $base-line-height;
  font-family: $base-font-family;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4,h5, h6 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: ms(6);
  line-height: $base-line-height * 3;
}

h2 {
  font-size: ms(5);
  line-height: $base-line-height * 3;
}

h3,
.h3 {
  font-size: ms(4);
  line-height: $base-line-height * 2;
}

h4,
.h4 {
  font-size: ms(3);
  line-height: $base-line-height * 2;
}

h5,
.h5 {
  font-size: ms(2);
  line-height: $base-line-height;
}

h6,
.h6 {
  font-size: ms(1);
  line-height: $base-line-height;
}

button {
  &:not(:disabled) {
    cursor: pointer;
  }

  outline: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 1rem;
}

.text-secondary {
  color: $secondary-font-color;
}

.text-danger {
  color: $danger;
}

.text-warning {
  color: $warning;
}

.text-regular {
  font-weight: 400;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.btn {
  @extend .text-uppercase;
  color: inherit;
  background: none;
  border: 0;
  padding: $base-line-height * 0.5 1rem;
  line-height: $base-line-height;
  font-weight: 700;
  transition: all ease-in-out 0.15s;
  border-radius: $border-radius;

  &--block {
    display: block;
    width: 100%;
  }

  &--success {
    background: $success;
    color: $white;

    &:hover {
      background: $success-hover;
    }

    &:disabled {
      background: $success-hover;
      color: $cyan-100;
    }
  }

  &--warning {
    background: $warning;
    color: $white;

    &:hover {
      background: $warning-hover;
    }
  }

  &--danger {
    background: $danger;
    color: $white;

    &:hover {
      background: $danger-hover;
    }
  }

  &--danger-dark {
    background: $danger-dark;
    color: $white;

    &:hover {
      background: $danger-dark-hover;
    }
  }

  &--lg {
    font-size: ms(1);
    padding-top: $base-line-height;
    padding-bottom: $base-line-height;
  }

  i {
    margin-right: 0.5rem;
  }

  &--icon i {
    margin-right: 0;
  }
}

.panel {
  display: flex;
  flex-direction: column;
}

.topbar {
  color: $white;
  background-color: $blue-grey-700;
  @include box_shadow(2);
}

.topbar__wrapper {
  display: flex;
  align-items: center;
}

.topbar__left-action {
  margin-right: 1rem;
  font-size: ms(2);
}

.topbar__title {
  font-size: ms(2);
  line-height: $base-line-height * 2;
  padding: #{$base-line-height * 0.5} 0;
}

.content {
  flex: 1;
}

.content:not(.content--no-spacing) {
  padding: $base-line-height 0;
}

.card {
  @include box_shadow(1);
  color: inherit;
  text-decoration: none;
  padding: #{$base-line-height * 0.75};
  border-radius: $border-radius;
  background-color: $white;

  &--icon {
    display: flex;
    align-items: center;

    .card__icon {
      margin-right: 1rem;
    }
  }
}

.card + .card {
  margin-top: 4px
}

a.card {
  transition: all 0.25s ease-in-out;
  
  &:hover {
    background-color: $blue-grey-50;
  }
}

.card__icon {
  font-size: ms(1);
  width: 2 * $base-line-height;
  height: 2 * $base-line-height;
  line-height: 2 * $base-line-height;
  text-align: center;
  background-color: $blue-grey-50;
  border-radius: 99999px;
}

.left-bar {
  border-left: 5px solid $light-bg;

  &--success {
    border-color: $success;
  }
}

.chart {
  height: 100%;

  &--pie {
    position: relative;

    .chart__center {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.chart__title {
  font-size: ms(8);
  color: $success;
  line-height: $base-line-height * 3;
  font-weight: 700;
  margin-bottom: $base-line-height * 0.25;
}

.chart__subtitle {
  font-size: ms(2);
  line-height: $base-line-height * 1;
  color: $secondary-font-color;
}

.modal__backdrop {
  padding: 0 1rem;
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  background-color: $transparent;
  transition: all 0.25s ease-in-out;

  &.open {
    visibility: visible;
    background-color: $black-3;
  }

  &.close {
    transition-delay: 0.15s
  }
}

.modal {
  max-width: 34rem;
  margin: #{$base-line-height * 2} auto;
  background: $white;
  border-radius: $border-radius;
  @include box_shadow(3);
  opacity: 0;
  transition: all 0.15s 0.25s ease-in-out;
  position: relative;
  top: $base-line-height;
}

.modal__backdrop.open .modal {
  opacity: 1;
  top: 0;
}

.modal__header {
  background: $light-bg;
  line-height: $base-line-height;
  padding:  $base-line-height 1.5rem;
  font-size: ms(1);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  .modal__close {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.modal__close {
  border: 0;
  padding: 0;
  line-height: $base-line-height * 3;
  padding: 0 1.5rem;
  background: transparent;
  transition: all 0.15s ease-in-out;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.modal__body {
  padding: $base-line-height 1.5rem;
}

.modal__body + .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form {
  text-align: left;

  label {
    @extend .text-uppercase;
    font-weight: 700;
    font-size: ms(-1);
    line-height: $base-line-height;
    margin-bottom: $base-line-height * 0.25;
    display: block;
  }

  &--dark {
    label {
      color: $blue-grey-100;
    }

    input.form__field,
    input.form__field:-webkit-autofill {
      background-color: $blue-grey-700;
      border-color: $blue-grey-700;
      box-shadow: 0 0 0px 1000px $blue-grey-700 inset;
      color: $white;
      -webkit-text-fill-color: $white;
      caret-color: $white;
    }
  }
}

.form__group {
  margin-bottom: $base-line-height * 0.75;
}

input.form__field,
.form__field--select select {
  display: block;
  width: 100%;
  line-height: calc(#{$base-line-height * 2} - 2px);
  font-size: ms(1);
  padding: 0 1rem;
  border-radius: $border-radius;
  border: 1px solid $blue-grey-100;
  background: $light-bg;
  outline: 0;

  &:active,
  &:focus {
    border-color: $success;
  }
}

input[type="date"].form__field {
  -webkit-appearance: listbox;
  line-height: calc(#{$base-line-height * 2} - 4px);
}

.form__field--select {
  position: relative;

  &:after {
    content: '';
    display: block;
    border: #{$base-line-height/4} solid transparent;
    border-top-color: black;
    position: absolute;
    line-height: $base-line-height * 2;
    top:50%;
    margin-top:-2px;
    right: 1rem;
  }

  select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.form__actions {
  margin-top: $base-line-height;
}

.auth {
  background-color: $dark-bg;
  height: 100%;
}

.auth .form {
  margin-top: $base-line-height * 3;
}

.auth__errors {
  padding: #{0.5 * $base-line-height} 0;
}

@keyframes progress {
  from { width: 0% }
  to { width: 100% }
}

.stack-notification {
  @include box_shadow(3);
  padding: #{0.65 * $base-line-height} $base-line-height;
  background: $cyan-100;
  color: $cyan-900;
  width: 100%;
  max-width: 26rem;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  position: fixed;
  margin-left: -13rem;
  left: 50%;
  top: -5rem;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.stack-notification__icon {
  margin-right: 0.5rem;
  font-size: 90%;
}

.stack-notification__progress {
  position: absolute;
  width: 100%;
  height: $base-line-height/6;
  left: 0;
  top: 0;
}

.stack-notification__progress__bar {
  height: 100%;
  background: $cyan-500;
}

.stack-notification__close {
  background: none;
  border: 0;
  padding: #{0.65 * $base-line-height} $base-line-height;
  position: absolute;
  top: $base-line-height/6;
  right: 0;
  opacity: 0.35;
  color: inherit;
  transition: all 0.15s ease-in;

  &:hover {
    opacity: 0.75;
  }
}

.stack-notification.open {
  top: 0;
  opacity: 1;
}

.stack-notification.close {
  transition-duration: 0.25s;
}

.stack-notification.open .stack-notification__progress__bar {
  animation-name: progress;
  animation-timing-function: linear;
}
