.board {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: auto;
  margin-top: $base-line-height * 0.25;
}

.board__column {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 320px;

  &--released {
    .board__card {
      border-top: 4px solid $light-blue-300;
    }
  }

  &--in-progress {
    .board__card {
      border-top: 4px solid $cyan-300;
    }
  }

  &--interrupted {
    .board__card {
      border-top: 4px solid $orange-300;
    }
  }

  &--done {
    .board__card {
      border-top: 4px solid $light-green-300;
    }
  }
}

.board__column__header {
  text-align: center;
  font-size: ms(1);
  font-weight: 700;
  padding: #{$base-line-height * 0.75} 1rem;
}

.board__column__body {
  flex: 1;
  padding: 0.5rem;
  padding-top: 0;
}

.board__card {
  border-radius: $border-radius;
  background: $white;
  margin-bottom: $base-line-height/2;
  @include box_shadow(1);
  position: relative;
}

.board__card__options {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  
  button {
    border-radius: 100%;
  }
}

.board__card__body {
  padding: #{$base-line-height * 0.75};
  line-height: ms(3);
}

.board__card__title {
  font-size: ms(1);
  font-weight: 700;
  display: block;
  display: flex;
}

.board__card__detail {
  display: flex;
}

.board__card__time {
  margin-left: auto;
  font-size: 0.875rem;
  color: $secondary-font-color;
  
  i {
    margin-right: 0.25rem;
    font-size: 12px;
  }
}

.board__card__actions {
  background-color: $blue-grey-C25;
  color: $blue-grey-700;
  display: flex;
  justify-content: flex-end;
  padding: #{$base-line-height * 0.25} #{$base-line-height * 0.25};
}