.topbar {
  color: $white;
  background-color: $blue-grey-700;
  padding: #{$base-line-height * 0.5} 0;
  @include box_shadow(2);
  font-size: ms(1);
}

.topbar__wrapper {
  display: flex;
  align-items: center;
}

.topbar__left-action {
  margin-right: 0.75rem;
}

.topbar__title {
  font-weight: 500;
}

.topbar__subtitle {
  font-weight: 400;
  display: block;
  color: $blue-grey-100;
  font-size: ms(0);
}

@media only screen and (min-width: 48em) {
  .topbar {
    padding: #{$base-line-height * 0.75} 0;
  }
  
  .topbar__subtitle {
    display: inline-block;
    font-size: inherit;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid $blue-grey-400;
  }
}