.topbar {
  color: $white;
  background-color: $blue-grey-700;
  height: $base-line-height * 2.25;
  font-size: ms(1);
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;

  .btn {
    height: $base-line-height * 2.25;
    width: $base-line-height * 2.25;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: ms(1);
    border-radius: 0;

    &:hover {
      background: $blue-grey-600;
    }
  }

  .container {
    height: auto;
  }

  &:not(&--plan) {
    @include box_shadow(2);
  }
}

.topbar__wrapper {
  display: flex;
  align-items: center;
}

.topbar__left-action {
  margin-right: 0.75rem;
}

.topbar__title {
  font-weight: 500;
  margin-left: 1rem;
}

.topbar__left-action + .topbar__title {
  margin-left: 0;
}

.topbar__subtitle {
  font-weight: 400;
  display: block;
  color: $blue-grey-100;
  font-size: ms(0);
}



@media only screen and (min-width: 48em) {
  .topbar__title {
    margin-left: 0;
  }
  
  .topbar__subtitle {
    display: inline-block;
    font-size: inherit;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 1px solid $blue-grey-400;
  }
}